<?xml version="1.0"?>
<launch>
	
	<!-- upload parameters -->
        <rosparam command="load" ns="kinematics_mecanum" file="$(find wonik_kinematics_mecanum)/launch/test_setup.yaml"/>
	
	<!-- start simulation node -->
        <node pkg="wonik_kinematics_mecanum" type="wonik_kinematics_mecanum_sim_node" ns="kinematics_mecanum" name="wonik_kinematics_mecanum_sim_node" respawn="false" output="screen"/>

</launch>
