
<launch>
<!-- For ukf -->
  <!-- <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find wonik_real)/configs/sensor_fusion/robot_localization/robot_localization_ukf.yaml" /> -->

<!-- For ekf -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <rosparam command="load" file="$(find wonik_real)/configs/sensor_fusion/robot_localization/robot_localization.yaml" />

    <remap from="odometry/filtered" to="odom"/>
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
