<?xml version="1.0" ?>
<robot name="wonik_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--GAZEBO REFERENCES -->
  <xacro:include filename="$(find wonik_simulation)/robots/xacros/wonik_robot_gazebo.xacro" />

  <!-- BODY -->
  <xacro:include filename="$(find wonik_simulation)/robots/xacros/wonik_robot_body.xacro" />
 
  <!-- WHEELS -->
  <xacro:include filename="$(find wonik_simulation)/robots/xacros/omni_wheel.xacro" />

  <!-- SENSORS --> 
  <!-- <xacro:include filename="$(find wonik_simulation)/robots/wonik_robot/xacros/sick_S300.xacro" /> -->

  <!-- Microscan - Comment/Uncomment if required -->
  <xacro:include filename="$(find wonik_simulation)/robots/xacros/micro_scan.xacro" /> 

  <!--Ultrasonics, cameras and IMU's  -->
  <xacro:include filename="$(find wonik_simulation)/robots/xacros/imu.xacro" />
  
  <!-- <xacro:include filename="$(find wonik_simulation)/robots/wonik_robot/xacros/camera.xacro" />  -->
  


  <link name="base_link" />

  <!-- Base link macro -->
  <xacro:wonik_robot_base name="base_footprint" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:wonik_robot_base>

  <!-- Wheel Macro -->
  <xacro:omni_wheel_250 name="wonik_robot_omni_wheel_front_left" parent="base_footprint">
    <origin xyz="0.25 0.28 0.13" rpy="0 0 0" />
  </xacro:omni_wheel_250>

  <xacro:omni_wheel_250 name="wonik_robot_omni_wheel_front_right" parent="base_footprint">
    <origin xyz="0.25 -0.28 0.13" rpy="0 0 3.14" />
  </xacro:omni_wheel_250>

  <xacro:omni_wheel_250 name="wonik_robot_omni_wheel_back_left" parent="base_footprint">
    <origin xyz="-0.25 0.28 0.13" rpy="0 0 0" />
  </xacro:omni_wheel_250>

  <xacro:omni_wheel_250 name="wonik_robot_omni_wheel_back_right" parent="base_footprint">
    <origin xyz="-0.25 -0.28 0.13" rpy="0 0 3.14" />
  </xacro:omni_wheel_250>

  <!-- Sensors -->
  <xacro:sick_laser_v0 name="lidar_1" parent="base_link" ros_topic="lidar_1/scan_filtered">
    <origin xyz="0.442 0 0.372" rpy="0 0 0" />
  </xacro:sick_laser_v0>

  <xacro:sick_laser_v0 name="lidar_2" parent="base_link" ros_topic="lidar_2/scan_filtered">
    <origin xyz="-0.442 0 0.372" rpy="0 0 3.14" />
  </xacro:sick_laser_v0>

  <!--+++++++++++++++++++ IMU ++++++++++++++++++++++++-->
  <!-- Comment or uncomment based on your requirement -->
  <xacro:imu name="imu" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 0 3.14" />
  </xacro:imu>
  
  
  <!--Camera  -->
<!-- <xacro:camera name="camera" parent="base_link">
    <origin xyz="0 0 0.38" rpy="0 0 0" />
  </xacro:camera> -->

  <transmission name="wonik_robot_omni_wheel_front_left">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wonik_robot_omni_wheel_front_left_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wonik_robot_omni_wheel_front_left_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="wonik_robot_omni_wheel_front_right">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wonik_robot_omni_wheel_front_right_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wonik_robot_omni_wheel_front_right_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="wonik_robot_omni_wheel_back_left">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wonik_robot_omni_wheel_back_left_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wonik_robot_omni_wheel_back_left_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="wonik_robot_omni_wheel_back_right">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wonik_robot_omni_wheel_back_right_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wonik_robot_omni_wheel_back_right_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>
